
<footer>   
  <div class="footer-container">
    <div class="container-fluid"> 
      <div class="row">  
        <div class="nav-dropdown__content">
          <h4 style="margin-left: 10px; ">Каталог</h4>
          <div class="col-sm-3"> 
            <ul class="list-unstyled footer-link-color">  
              <li><a href="/catalog/straight_sofas">Прямые диваны</a></li> 
            </ul> 
          </div>  
        </div>
      </div> 
    </div>
  </div>  
</footer>
 