<div class="menu-absolute"> 
  <nav id="menu" class="sidebar">

    <div class="logo hidden-md hidden-sm hidden-xs" style="background-color: #474747;">       
     <a href="/" class="logo-img"><img src="./img/logo.png" title="«DOREMI»" alt="«DOREMI»" class="img-responsive" style="height: 51px; width: 50%;"></a>  
    </div> 

    <ul class="nav-sidebar__list">  
      <li class="nav-sidebar__section main-links">
        <a href="/">
            <img src="./files/single-couch-24x24.png" alt="Главная" title="Главная">Главная 
        </a>
      </li>         
      <li class="nav-sidebar__section main-links">
        <a href="/about-shops">
            <img src="./files/single-couch-24x24.png" alt="О магазине" title="О магазине">О магазине 
        </a>
      </li>          
      <li class="nav-sidebar__section main-links">
        <a href="/contacts">
            <img src="./files/single-couch-24x24.png" alt="Контакты" title="Контакты">Контакты
        </a>
      </li>     
  
     

    <li class="nav-sidebar__section"> 
      <a href="/catalog/straight_sofas">Прямые диваны</a>
    </li>  
    </ul>
  </nav>
</div>